@model IEnumerable<MVCDreambox.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTotalDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTotalDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.PaymentID }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.PaymentID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.PaymentID })
            </td>
        </tr>
    }

</table>
