@{
    ViewBag.Title = "Dreambox solution";
}
<h2>Payment Management</h2>
<br />
<div ng-controller="PaymentController">
    <div ng-show="divModification" class="panel panel-default" style=" width:100%;padding:5px;">
        <form name="appForm" novalidate>
            <div class="form-horizontal">
                <h3>{{Operation}} Payment</h3>
                <span class=" text-danger">{{errormessage}}</span>
                <br />
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Payment name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="PaymentName" ng-model="PaymentName" class="form-control" maxlength="100" required placeholder="Payment name" />
                        <p class="help-block" ng-if="appForm.PaymentName.$error.required">Payment name is requied</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Time (day) ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="PaymentTotalDay" ng-model="PaymentTotalDay" class="form-control" required placeholder="Total day" numbers-only />
                        <p class="help-block" ng-if="appForm.PaymentTotalDay.$error.required">Total day is requied</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="PaymentCost" ng-model="PaymentCost" class="form-control" required placeholder="Amount" numbers-only />
                        <p class="help-block" ng-if="appForm.PaymentCost.$error.required">Cost is requied</p>
                    </div>
                </div><div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Expire date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" id="PaymentExpiryDate" name="PaymentExpiryDate" ng-model="PaymentExpiryDate" class="form-control" placeholder=" expire date" required="true" />
                        <p class="help-block" ng-if="appForm.PaymentExpiryDate.$error.required">Expire date is requied</p>
                    </div>
                </div>

                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Quantity" ng-model="Quantity" class="form-control" required placeholder="Quantity" numbers-only />
                        <p class="help-block" ng-if="appForm.Quantity.$error.required">Quantity is requied</p>
                    </div>
                </div>
                <div>
                    <h1> Selected date: {{date}}</h1>
                    @*<input type="text" ng-model="date" datepicker />*@

                </div>
                <input type="text" style="width:20px;" ng-model="PaymentID" class="hidden" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" ng-click="Save()" class="btn" />
                        <input type="button" value="Cancel" ng-click="Cancel()" class="btn" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default" style=" width:100%;padding:5px;">
        <input ng-show="AddNew" type="button" value="New payment" ng-click="add()" class="btn" />
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
                <tr>

                    <th st-sort="PaymentID" class="clickable"><b>ID</b></th>
                    <th st-sort="PaymentName" class="clickable"><b>Payment name</b></th>
                    <th st-sort="PaymentTotalDay" class="clickable"><b>Total day</b></th>
                    <th st-sort="PaymentCost" class="clickable"><b>Amount</b></th>
                    <th st-sort="PaymentExpiryDate" class="clickable"><b>Expire date</b></th>
                    <th st-sort="PaymentStatus" class="clickable"><b>Status</b></th>
                    <th st-sort="CreateDate" class="clickable"><b>Create date</b></th>
                    <th><b>Operation</b></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="PaymentID" type="text" />
                    </th>
                    <th>
                        <input st-search="PaymentName" type="text" />
                    </th>
                    <th>
                        <input st-search="PaymentTotalDay" type="text" />
                    </th>
                    <th>
                        <input st-search="PaymentCost" type="text" />
                    </th>
                    <th>
                    </th>
                    <th>
                        <input st-search="PaymentStatus" type="text" />
                    </th>
                    <th>
                        
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>
                        {{row.PaymentID}}
                    </td>
                    <td>
                        {{row.PaymentName | strLimit: 20}}
                    </td>
                    <td>
                        {{row.PaymentTotalDay}}
                    </td>
                    <td>
                        {{row.PaymentCost}}
                    </td>
                    <td>
                        {{row.PaymentExpiryDate | ToJavaScriptDate}}
                    </td>
                    <td>
                        {{row.PaymentStatus}}
                    </td>
                    <td>
                        {{row.CreateDate | ToJavaScriptDateToString | date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td>
                        <button type="button" ng-click="delete(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>*@
   @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PaymentExpiryDate').datepicker();
        });
    </script>
}

