@model MVCDreambox.Models.Channel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Channel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChannelDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChannelDesc)
            @Html.ValidationMessageFor(model => model.ChannelDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChannelPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChannelPath)
            @Html.ValidationMessageFor(model => model.ChannelPath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChannelStatus)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.ChannelStatus, "Active", new { @checked = true }) Active
            @Html.RadioButtonFor(model => model.ChannelStatus, "InActive") InActive
        </div> 
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
