@{
    ViewBag.Title = "Dreambox solution";
}
<h2>Channel Management</h2>
<br />
<div ng-controller="ChannelController">
    @*<a href="/permission">Permission</a><br />*@
    @*Filter: <input type="text" value="ChannelDesc" ng-model="FilterByChannelDesc" />
        <br />*@

    <div ng-show="divModification" class="panel panel-default" style=" width:100%;padding:5px;">
        <form name="appForm" novalidate>
            <div class="form-horizontal">
                <h3>{{Operation}} Channel</h3>
                <span class="alert-danger">{{errormessage}}</span>
                <br />
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Channel name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="ChannelName" ng-model="ChannelName" class="form-control" maxlength="250" required placeholder="Channel name" />
                        <p class="help-block" ng-if="appForm.ChannelName.$error.required">Channel name is requied</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Browser url", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="BrowserUrl" ng-model="BrowserUrl" class="form-control" maxlength="250" required placeholder="Browser url" />
                        <p class="help-block" ng-if="appForm.BrowserUrl.$error.required">Browser url is requied</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("iOS Url", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="iOSUrl" ng-model="iOSUrl" class="form-control" maxlength="250" required placeholder="iOS Url" />
                        <p class="help-block" ng-if="appForm.iOSUrl.$error.required">iOS Url is requied</p>
                    </div>
                </div>
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Android url", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="AndroidUrl" ng-model="AndroidUrl" class="form-control" maxlength="250" required placeholder="Android url" />
                        <p class="help-block" ng-if="appForm.AndroidUrl.$error.required">Android url is requied</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="ChannelStatus" value="Active" ng-model="ChannelStatus">
                            Active
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="ChannelStatus" value="Not Active" ng-model="ChannelStatus">
                            Not Active
                        </label>
                    </div>
                </div>
                <input type="text" style="width:20px;" ng-model="ChannelID" class="hidden" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" ng-click="Save()" class="btn" />
                        <input type="button" value="Cancel" ng-click="Cancel()" class="btn" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default" style=" width:100%;padding:5px;">
        <input ng-show="AddNew" type="button" value="New channel" ng-click="add()" class="btn" />
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
                <tr>
                    @*<th></th>*@
                    <th st-sort="ChannelName" class="clickable"><b>Channel name</b></th>
                    <th st-sort="BrowserUrl" class="clickable"><b>Browser url</b></th>
                    <th st-sort="iOSUrl" class="clickable"><b>iOS Url</b></th>
                    <th st-sort="AndroidUrl" class="clickable"><b>Android url</b></th>                    
                    <th st-sort="ChannelStatus" class="clickable"><b>Channel Status</b></th>
                    <th><b>Operation</b></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="ChannelName" type="text" />
                    </th>
                    <th>
                        <input st-search="BrowserUrl" type="text" />
                    </th>
                    <th >
                        <input st-search="iOSUrl" type="text" />
                    </th>
                    <th >
                        <input st-search="AndroidUrl" type="text" />
                    </th>
                    <th>
                        <input st-search="ChannelStatus" type="text" />
                    </th>
                </tr>               
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>
                        {{row.ChannelName}}
                    </td>
                    <td>
                        {{row.BrowserUrl}}
                    </td>
                    <td>
                        {{row.iOSUrl}}
                    </td>
                    <td>
                        {{row.AndroidUrl}}
                    </td>
                    <td>
                        {{row.ChannelStatus}}
                    </td>
                    <td>
                        <button type="button" ng-click="edit(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                        <button type="button" ng-click="delete(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>