@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="ChannelController">
    <a href="/permission">Permission</a><br />

    Filter: <input type="text" value="ChannelDesc" ng-model="FilterByChannelDesc" />
    <br />


    <br />
    <input type="button" value="Add" ng-click="add()" />
    <div ng-show="divChannelModification">
        <p>{{Operation}} Channel</p>
        <p>{{ChannelDesc}}</p>
        <table>
            <tr>
                <td>
                    <input type="text" style="width:20px;" disabled="disabled" ng-model="ChannelID" />
                </td>


                <td>
                    <input type="text" style="width:94px;" ng-model="ChannelDesc" required ng-required="Channel Name is required." />
                </td>


                <td>
                    <input type="text" style="width:94px;" ng-model="ChannelPath" />
                </td>

                <td>

                    <label>Channel status</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="ChannelStatus" value="Active" ng-model="ChannelStatus">
                                Active
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="ChannelStatus" value="Not Active" ng-model="ChannelStatus">
                                Not Active
                            </label>
                        </div>
                    </div>
                </td>

                <td colspan="2">
                    <input type="button" value="Save" ng-click="Save()" />
                    <input type="button" value="Cancel" ng-click="Cancel()" />
                </td>
            </tr>
        </table>
    </div>
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
        <thead>
            <tr>
                <th></th>
                <th st-sort="ChannelDesc"><b>Channel name</b></th>
                <th st-sort="ChannelPath"><b>Channel Path</b></th>
                <th st-sort="ChannelStatus"><b>Channel Status</b></th>
                <th><b>Operation</b></th>
            </tr>
            @*<tr>
                    <th>
                        <input st-search="'ChannelDesc'" placeholder="search for Channel name" class="input-sm form-control" type="search" />
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                    </th>
                </tr>*@
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td cs-select="row"></td>
                <td>
                    {{row.ChannelDesc}}
                </td>
                <td>
                    {{row.ChannelPath}}
                </td>
                <td>
                    {{row.ChannelStatus}}
                </td>
                <td>
                    <input type="button" value="Edit" ng-click="edit(row)" />
                    <input type="button" value="Delete" ng-click="delete(row)" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    @*<table ng-table="tableParams" class="table">
            <tr>
                <td><b>Channel Description</b></td>
                <td><b>Channel Path</b></td>
                <td><b>Channel Status</b></td>
                <td><b>Operation</b></td>
            </tr>
            <tr ng-repeat="channel in $data | filter:FilterByChannelDesc ">
                <td>
                    {{channel.ChannelDesc}}
                </td>
                <td>
                    {{channel.ChannelPath}}
                </td>
                <td>
                    {{channel.ChannelStatus}}
                </td>
                <td>
                    <input type="button" value="Edit" ng-click="edit(channel)" />
                    <input type="button" value="Delete" ng-click="delete(channel)" />
                </td>
            </tr>
        </table>*@

</div>

@*@model IEnumerable<MVCDreamboxAngularJS.Models.Channel>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChannelDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ChannelID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ChannelID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ChannelID })
            </td>
        </tr>
    }

    </table>*@


@*@model IEnumerable<MVCDreambox.Models.Channel>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChannelDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ChannelID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ChannelID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ChannelID })
            </td>
        </tr>
    }

    </table>*@
