@{
    ViewBag.Title = "Dreambox solution";
}

<h2>User Management</h2>
<br />
<div ng-controller="UserController">
    <div ng-show="divModification" class="panel panel-default" style=" width:100%;padding:5px;">
        <form name="appForm" novalidate>
            <div class="form-horizontal">
                <h3>{{Operation}} User</h3>
                <span class="alert-danger">{{errormessage}}</span>
                <br />
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("UserName", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="UserName" ng-model="UserName" class="form-control" required placeholder="UserName" />
                        <p class="help-block" ng-if="appForm.UserName.$error.required">UserName is requied</p>
                    </div>
                </div>
                @*<div class="form-group" show-errors='{showSuccess: true}'>
                        @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="password" name="Password" ng-model="Password" class="form-control" required placeholder="Password"  />
                            <p class="help-block" ng-if="appForm.Password.$error.required">Password is requied</p>
                        </div>
                    </div>*@
                @*<span style="color:red" ng-show="myform.password.$error.passwordMatch">Passwords do not match!<br /></span>
                    <input type="password" name="password" ng-model="myform.NewPassword" required="true"
                           password-match="myform.RetypePassword" />
                    <input type="password" name="retypePassword" ng-model="myform.RetypePassword" required="true" />*@

                @*<div class="form-group" ng-show="showRepassword">
                        @Html.Label("Confirm password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="password" name="Repasswrd" ng-model="RePassword" class="form-control" required password-match="Password" />
                            <p class="help-block" ng-show="appForm.RePassword.$error.passwordMatch">Passwords do not match</p>
                        </div>
                    </div>*@
                <div class="form-group" show-errors='{showSuccess: true}'>
                    @Html.Label("Real name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="RealName" ng-model="RealName" class="form-control" required placeholder="Real name" />
                        <p class="help-block" ng-if="appForm.RealName.$error.required">Real name is requied</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Phone", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Phone" ng-model="Phone" class="form-control" placeholder="Phone" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Email" ng-model="Email" class="form-control" placeholder="E-mail" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Address" ng-model="Address" class="form-control" placeholder="Address" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="Role" value="Dealer" ng-model="Role">
                            Dealer
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Role" value="Admin" ng-model="Role">
                            Admin
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="Status" value="Active" ng-model="Status">
                            Active
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Status" value="Not Active" ng-model="Status">
                            Not Active
                        </label>
                    </div>
                </div>
                <input type="text" style="width:20px;" ng-model="DealerID" class="hidden" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" ng-click="Save()" class="btn" />
                        <input type="button" value="Reset Password" ng-click="Resetpassword()" class="btn" />
                        <input type="button" value="Cancel" ng-click="Cancel()" class="btn" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default" style=" width:100%;padding:5px;">
        <input ng-show="AddNew" type="button" value="New user" ng-click="add()" class="btn btn-default" />
        <a class="btn btn-default" role="button" href="/PackagePermission/Index">Package Mapping</a>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
                <tr>

                    <th st-sort="UserName"><b>Username</b></th>
                    <th st-sort="RealName"><b>Real name</b></th>
                    <th st-sort="Phone"><b>Phone</b></th>
                    <th st-sort="Email"><b>E-mail</b></th>
                    <th st-sort="Role"><b>Role</b></th>
                    <th st-sort="Status"><b>Status</b></th>
                    <th><b>Operation</b></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">

                    <td>
                        {{row.UserName}}
                    </td>

                    <td>
                        {{row.RealName}}
                    </td>
                    <td>
                        {{row.Phone}}
                    </td>
                    <td>
                        {{row.Email}}
                    </td>
                    <td>
                        {{row.Role}}
                    </td>
                    <td>
                        {{row.Status}}
                    </td>
                    <td>
                        <button type="button" ng-click="edit(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                        <button type="button" ng-click="delete(row)" class="btn btn-sm ">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

