@model IEnumerable<MVCDreambox.Models.PackageMapping>

@{
    ViewBag.Title = "ChannelList";
}

<h2>ChannelList</h2>
<p>
    @Html.ActionLink("Add Channel", "AddChannel")
</p>
<p>@ViewBag.PackageName</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.channel.ChannelDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.channel.ChannelPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.channel.ChannelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.channel.ChannelPath)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>*@
            <td>
              
                @*@Html.ActionLink("Details", "Details", new { id=item.PackageID }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.PackageID })*@
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to Package list", "Index")
</div>