@model IEnumerable<MVCDreambox.Models.PackageMapping>

@{
    ViewBag.Title = "ChannelList";
}
<style type="text/css">
    /*.btn {
        background-color: #4682CB;
        font-family: Tahoma;
        color: White;
        padding: 5px;
    }*/

    .webGrid {
        margin-left: 5px;
        border-collapse: collapse;
        width: 700px;
        font-family: Tahoma;
        font-size: small;
    }

    .grid-header {
        background-color: #4682CB;
        font-weight: bold;
        color: White !important;
    }

    .webGrid th a {
        color: White;
        text-decoration: none;
    }

    .webGrid th, .webGrid td {
        border: 1px solid black;
        padding: 5px;
    }

    .alt {
        background-color: #F4EFEF;
    }

    .webGrid th a:hover {
        text-decoration: underline;
    }

    .to-the-right {
        text-align: right;
    }
</style>

<script type="text/javascript">
    function ConfirmDelete() {
        return confirm("Do you want to delete records.");
    }
</script>

<h2>ChannelList</h2>
<p>
    @Html.ActionLink("Add Channel", "AddChannel", new { id = ViewBag.PackageID })
</p>
<p>@ViewBag.PackageName</p>
@using (Html.BeginForm("ChannelList", "Package", FormMethod.Post))
{
    @*<h5 style="color: Green; font-family: Tahoma">@ViewBag.PackageName</h5>*@
    <h5 style="color: Red; font-family: Tahoma">@ViewBag.message</h5>
    var grid = new WebGrid(source: Model, rowsPerPage: 10);
    @grid.GetHtml(
            tableStyle: "table",
        htmlAttributes: new { id = "DeleteSelectedWebGrid" },
        headerStyle: "grid-header",
        rowStyle: "gridRow",
        alternatingRowStyle: "alt",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: " < Previous",
        nextText: "Next >",
        lastText: "Last >>",
        caption: "User Details",
        columns: grid.Columns(
        @*Here I am adding Checkbox Column for selecting multiple records*@
grid.Column(format: @<text><input type="checkbox" name="DeleteIds" id="chk" value="@item.package.PackageID|@item.channel.ChannelID" /></text>, header: "Select"),
grid.Column(format: @<text>@item.channel.ChannelDesc</text>,header: "Channel name"),
grid.Column(format: @<text>@item.channel.ChannelPath</text>, header: "Channel path")
                                     )
                            )
    <br />
    <input type="submit" value="Delete Selected" class="btn" onclick="javascript:return ConfirmDelete();" /><br />
}
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.channel.ChannelDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.channel.ChannelPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.channel.ChannelDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.channel.ChannelPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>

            </tr>
        }
    </table>*@
<div>
    @Html.ActionLink("Back to Package list", "Index")
</div>