@model MVCDreambox.Models.MemberType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MemberType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberTypeDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberTypeDesc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DealerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DealerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MemberTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
